<div class="footer">
    <div class="info">
        <div class="pages">
            <h4>Pages</h4>
            <ul>
                <li><a href="#">Order status</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Product Index</a></li>
                <li><a href="#">Payment Option</a></li>
                <li><a href="#">Become an Affiliate</a></li>
                <li><a href="#">Category Index</a></li>
            </ul> 
        </div>
        <div class="Mailinglist">
            <h4>Mailinglist</h4>
            <div>
            <input type="text" placeholder="Email Address" >
            <button>GO</button>
        </div>

        </div>
    </div>
    <div class="copyright">
        Copyright 2021 BROCK Store. All Rights Reserved.
    </div>
</div>